<footer class="footer">
	{% for item in site.data.settings.social %}
	<a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
	{% endfor %}
	## Twitter
	<a class="twitter-timeline" href="https://twitter.com/ClatworthyLab?ref_src=twsrc%5Etfw">Tweets by ClatworthyLab</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	<a href="{{ site.github.url }}/"><img src="/assets/img/clatworthy.svg" height = "50" alt="Clatworthy Lab"></a>
	<div class="post-date"><a href="{{ site.github.url }}/">{{ site.title }} | {{ site.description }} by {{ site.author }}</a></div>
</footer>
